n8n/blog-automation-workflow.json
{
  "name": "Blog Automation Pipeline v5 - nathanibgui.com",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Hebdo Lundi 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Declenchement Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Selectionner un theme et verifier les doublons\n// ============================================\n\nconst SOLUTIONS = [\n  { slug: 'strategie-ia', label: 'Strategie IA & Agents Autonomes', color: 'purple', icon: 'fa-brain' },\n  { slug: 'automation-n8n', label: 'Automatisation des Processus (n8n)', color: 'blue', icon: 'fa-robot' },\n  { slug: 'audit-performance-it', label: 'Audit & Performance IT', color: 'green', icon: 'fa-clipboard-check' },\n  { slug: 'dsi-externalise', label: 'DSI Externalise & Gouvernance IT', color: 'indigo', icon: 'fa-building' },\n  { slug: 'data-erp', label: 'Data, ERP & Systemes d Information', color: 'cyan', icon: 'fa-database' },\n  { slug: 'cybersecurite-infrastructure', label: 'Cybersecurite & Infrastructure Cloud', color: 'red', icon: 'fa-shield-halved' },\n  { slug: 'strategie-marketing-branding', label: 'Strategie Marketing & Branding', color: 'pink', icon: 'fa-bullhorn' },\n  { slug: 'seo-acquisition-digitale', label: 'SEO & Acquisition Digitale', color: 'rose', icon: 'fa-search' },\n  { slug: 'geo-referencement-ia', label: 'GEO Referencement & IA Generative', color: 'orange', icon: 'fa-globe' },\n  { slug: 'google-business-profile', label: 'Google Business Profile & SEO Local', color: 'yellow', icon: 'fa-map-marker-alt' },\n  { slug: 'publicite-digitale', label: 'Publicite Digitale (Google Ads, Meta Ads)', color: 'amber', icon: 'fa-ad' }\n];\n\n// Recuperer les articles deja publies depuis Google Sheets\nlet publishedArticles = [];\ntry {\n  const items = $input.all();\n  publishedArticles = items\n    .map(item => ({\n      slug: item.json.slug || '',\n      title: item.json.title || '',\n      tag: item.json.tag || ''\n    }))\n    .filter(a => a.slug);\n} catch(e) {\n  publishedArticles = [];\n}\nconst publishedSlugs = publishedArticles.map(a => a.slug);\nconst publishedTitles = publishedArticles.map(a => a.title);\n\n// Rotation hebdo sur les 11 solutions\nconst weekNumber = Math.floor((Date.now() - new Date('2026-01-01').getTime()) / (7 * 24 * 60 * 60 * 1000));\nconst themeIndex = weekNumber % SOLUTIONS.length;\nconst theme = SOLUTIONS[themeIndex];\n\nconst today = new Date().toISOString().split('T')[0];\nconst todayFr = new Date().toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' });\n\nreturn [{\n  json: {\n    theme,\n    allSolutions: SOLUTIONS,\n    publishedSlugs,\n    publishedTitles,\n    publishedCount: publishedArticles.length,\n    date: today,\n    dateFr: todayFr\n  }\n}];"
      },
      "id": "topic-selector",
      "name": "Selectionner Sujet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/photos/random",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.topic.unsplashQuery }}"
            },
            {
              "name": "client_id",
              "value": "f4DKrO7Ej-0gzFtXNnvTF4udvGE1yizoUzUczV2yANM"
            },
            {
              "name": "orientation",
              "value": "landscape"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "unsplash-fetch",
      "name": "Unsplash Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract Unsplash image, fallback to profile pic\nconst input = $input.first().json;\nconst parsedData = $('Parse Agent Output').first().json;\n\nlet imageUrl = 'https://nathanibgui.com/assets/images/nathanibguiProfile.png';\nlet imageAlt = parsedData.topic.title;\nlet imageCredit = '';\n\ntry {\n  if (input.urls && input.urls.regular) {\n    imageUrl = input.urls.regular;\n    imageAlt = input.alt_description || parsedData.topic.title;\n    imageCredit = 'Photo by ' + input.user.name + ' on Unsplash';\n  }\n} catch(e) {}\n\nreturn [{\n  json: {\n    ...parsedData,\n    image: { url: imageUrl, alt: imageAlt, credit: imageCredit }\n  }\n}];"
      },
      "id": "process-image",
      "name": "Traiter Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Theme principal : {{ $json.theme.label }}\nSolution liee : {{ $json.theme.slug }}\nCouleur du theme : {{ $json.theme.color }}\nIcone : {{ $json.theme.icon }}\n\nArticles deja publies (NE PAS refaire le meme sujet) :\n{{ $json.publishedTitles.length > 0 ? $json.publishedTitles.join('\\n- ') : 'Aucun article publie pour le moment.' }}\n\nSlugs existants (NE PAS reutiliser) :\n{{ $json.publishedSlugs.length > 0 ? $json.publishedSlugs.join(', ') : 'aucun' }}\n\nTrouve un angle original et redige l'article COMPLET maintenant. Renvoie uniquement le JSON.",
        "options": {
          "systemMessage": "Tu es Nathan Ibgui, CIO Executive & Architecte de Profit. Tu rediges des articles de blog expert pour ton site nathanibgui.com.\n\nMISSION : A partir du theme fourni, choisis un angle PRECIS et redige un article complet. L'article doit avoir la qualite d'un guide professionnel avec des donnees chiffrees, des exemples concrets et des conseils immediatement actionnables.\n\nEXIGENCES DE QUALITE (NON NEGOCIABLES) :\n- Chaque affirmation doit etre etayee par un chiffre, un pourcentage ou un exemple concret\n- Le ton est celui d'un expert qui parle a un dirigeant de PME (pas academique, pas marketing creux)\n- Les liens internes vers les solutions du site doivent etre integres naturellement dans le texte, pas forces\n- Minimum 2000 mots de contenu substantiel\n- Pas d'emojis, pas de formulations vagues (\"beaucoup\", \"souvent\", \"de plus en plus\")\n\nSTRUCTURE HTML ATTENDUE :\n\n1. INTRODUCTION (dans une section glass, AVEC un h2 accrocheur)\nExemple de qualite attendue :\n<h2 class=\"text-2xl sm:text-3xl font-black text-white mb-6 tracking-tight\">Titre accrocheur de l'intro</h2>\n<p class=\"text-slate-300 leading-relaxed mb-4\">Paragraphe 1 avec une stat percutante et un contexte. En 2026, [fait chiffre]. Les PME qui [action] constatent [resultat mesurable].</p>\n<p class=\"text-slate-300 leading-relaxed mb-4\">Paragraphe 2 avec un lien interne naturel vers une <a href=\"../solutions/SLUG.html\" class=\"text-COLOR-400 hover:text-COLOR-300 underline underline-offset-2\">solution du site</a>.</p>\n<p class=\"text-slate-300 leading-relaxed\">Paragraphe 3 : promesse de l'article, ce que le lecteur va apprendre.</p>\n\n2. SECTIONS PRINCIPALES (4 a 6 sections, VARIER les formats)\n\nFormat ETAPES NUMEROTEES (pour des processus, methodologies) :\n<p class=\"text-slate-300 leading-relaxed mb-8\">Paragraphe intro de la section.</p>\n<div class=\"mb-8\">\n  <div class=\"flex items-center gap-3 mb-4\">\n    <span class=\"flex-shrink-0 w-10 h-10 bg-COLOR-500/20 rounded-xl flex items-center justify-center text-COLOR-400 font-black\">1</span>\n    <h3 class=\"text-xl font-black text-white\">Titre de l'etape</h3>\n  </div>\n  <p class=\"text-slate-300 leading-relaxed mb-3\">Explication detaillee avec chiffres et exemples.</p>\n  <p class=\"text-slate-300 leading-relaxed\">Suite avec un <a href=\"../solutions/SLUG.html\" class=\"text-COLOR-400 hover:text-COLOR-300 underline underline-offset-2\">lien interne</a> si pertinent.</p>\n</div>\n\nFormat NIVEAUX/POINTS (pour des evaluations, classements) :\n<div class=\"space-y-4\">\n  <div class=\"flex items-start gap-4\">\n    <span class=\"flex-shrink-0 w-8 h-8 bg-COLOR-500/20 rounded-lg flex items-center justify-center text-COLOR-400 text-sm font-black\">1</span>\n    <div>\n      <h3 class=\"text-white font-bold mb-1\">Titre du point</h3>\n      <p class=\"text-slate-400 text-sm leading-relaxed\">Description detaillee.</p>\n    </div>\n  </div>\n</div>\n\nFormat LISTE ICONES (pour des avantages, pieges a eviter) :\n<ul class=\"space-y-4\">\n  <li class=\"flex items-start gap-3\">\n    <i class=\"fas fa-check-circle text-COLOR-400 mt-1 flex-shrink-0\"></i>\n    <div><span class=\"text-white font-bold\">Point cle.</span> <span class=\"text-slate-400\">Explication concrete.</span></div>\n  </li>\n</ul>\n\nFormat GRILLE METRIQUES (pour des KPI, comparaisons) :\n<div class=\"grid sm:grid-cols-3 gap-4 mb-6\">\n  <div class=\"bg-COLOR-500/5 border border-COLOR-500/20 rounded-2xl p-5 text-center\">\n    <p class=\"text-3xl font-black text-COLOR-400\">42%</p>\n    <p class=\"text-slate-400 text-xs mt-2 uppercase tracking-wider\">Label du KPI</p>\n  </div>\n</div>\n\nIMPORTANT : Utilise au moins 3 formats differents dans l'article. Ne fais pas que des paragraphes.\n\n3. CONCLUSION\n<p class=\"text-slate-300 leading-relaxed mb-4\">Resume et perspective concrete.</p>\n<p class=\"text-slate-300 leading-relaxed\">Appel a l'action naturel menant au diagnostic gratuit.</p>\n\n4. FAQ (3-4 questions, reponses detaillees de 2-3 phrases minimum)\n\nLIENS INTERNES : Integre 3 a 5 liens naturels vers ces solutions :\n- strategie-ia : Strategie IA & Agents\n- automation-n8n : Automatisation n8n\n- audit-performance-it : Audit Performance IT\n- dsi-externalise : DSI Externalise\n- data-erp : Data & ERP\n- cybersecurite-infrastructure : Cybersecurite & Cloud\n- strategie-marketing-branding : Marketing & Branding\n- seo-acquisition-digitale : SEO & Referencement\n- geo-referencement-ia : GEO Referencement IA\n- google-business-profile : Google Business Profile\n- publicite-digitale : Publicite Digitale\n\nFormat lien : <a href=\"../solutions/SLUG.html\" class=\"text-COLOR-400 hover:text-COLOR-300 underline underline-offset-2\">texte du lien</a>\nRemplace COLOR par la couleur du theme fourni.\n\nSORTIE JSON (PAS de markdown, PAS de backticks) :\n{\n  \"title\": \"Titre complet\",\n  \"titleMain\": \"Debut du titre : \",\n  \"titleHighlight\": \"partie mise en valeur\",\n  \"slug\": \"slug-unique-url\",\n  \"metaDescription\": \"150-160 caracteres max\",\n  \"ogDescription\": \"100-120 caracteres\",\n  \"keywords\": \"5-7 mots-cles separes par virgules\",\n  \"tag\": \"Categorie (1-3 mots)\",\n  \"color\": \"couleur tailwind\",\n  \"icon\": \"fa-icon\",\n  \"readingTime\": 10,\n  \"unsplashQuery\": \"1-2 mots anglais simples\",\n  \"articleTags\": [\"tag1\", \"tag2\", \"tag3\", \"tag4\", \"tag5\"],\n  \"faq\": [{\"question\": \"...\", \"answer\": \"...\"}],\n  \"sections\": [{\"title\": \"Titre section\", \"content\": \"<HTML riche>\"}],\n  \"introduction\": \"<HTML riche avec h2 + paragraphes>\",\n  \"conclusion\": \"<HTML riche>\",\n  \"wordCount\": 2200\n}",
          "maxIterations": 5
        }
      },
      "id": "agent-redacteur",
      "name": "Agent IA - Redacteur Blog",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 8000
        }
      },
      "id": "chat-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        700,
        650
      ],
      "credentials": {
        "openAiApi": {
          "id": "uf1LtGvt5V72JFc3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assembler le HTML final - structure identique aux articles manuels\nconst input = $input.first().json;\nconst imgData = $('Traiter Image').first().json;\nconst topic = imgData.topic;\nconst article = imgData.article;\nconst date = imgData.date;\nconst dateFr = imgData.dateFr;\nconst canonicalUrl = imgData.canonicalUrl;\nconst fileName = imgData.fileName;\nconst image = imgData.image;\nconst allSolutions = imgData.allSolutions;\n\n// Color map for CSS\nconst colorMap = {\n  purple: { radial: 'rgba(147, 51, 234, 0.15)', gradient: 'from-purple-400 to-purple-600', btn: 'from-purple-600 to-purple-500', shadow: 'shadow-purple-500/20' },\n  blue: { radial: 'rgba(59, 130, 246, 0.15)', gradient: 'from-blue-400 to-blue-600', btn: 'from-blue-600 to-blue-500', shadow: 'shadow-blue-500/20' },\n  green: { radial: 'rgba(34, 197, 94, 0.15)', gradient: 'from-green-400 to-green-600', btn: 'from-green-600 to-green-500', shadow: 'shadow-green-500/20' },\n  red: { radial: 'rgba(239, 68, 68, 0.15)', gradient: 'from-red-400 to-red-600', btn: 'from-red-600 to-red-500', shadow: 'shadow-red-500/20' },\n  indigo: { radial: 'rgba(99, 102, 241, 0.15)', gradient: 'from-indigo-400 to-indigo-600', btn: 'from-indigo-600 to-indigo-500', shadow: 'shadow-indigo-500/20' },\n  cyan: { radial: 'rgba(6, 182, 212, 0.15)', gradient: 'from-cyan-400 to-cyan-600', btn: 'from-cyan-600 to-cyan-500', shadow: 'shadow-cyan-500/20' },\n  pink: { radial: 'rgba(236, 72, 153, 0.15)', gradient: 'from-pink-400 to-pink-600', btn: 'from-pink-600 to-pink-500', shadow: 'shadow-pink-500/20' },\n  rose: { radial: 'rgba(244, 63, 94, 0.15)', gradient: 'from-rose-400 to-rose-600', btn: 'from-rose-600 to-rose-500', shadow: 'shadow-rose-500/20' },\n  orange: { radial: 'rgba(249, 115, 22, 0.15)', gradient: 'from-orange-400 to-orange-600', btn: 'from-orange-600 to-orange-500', shadow: 'shadow-orange-500/20' },\n  yellow: { radial: 'rgba(234, 179, 8, 0.15)', gradient: 'from-yellow-400 to-yellow-600', btn: 'from-yellow-600 to-yellow-500', shadow: 'shadow-yellow-500/20' },\n  amber: { radial: 'rgba(245, 158, 11, 0.15)', gradient: 'from-amber-400 to-amber-600', btn: 'from-amber-600 to-amber-500', shadow: 'shadow-amber-500/20' }\n};\nconst c = colorMap[topic.color] || colorMap.blue;\n\n// Build article tags meta\nconst articleTagsMeta = (article.articleTags || []).map(t =>\n  '    <meta property=\"article:tag\" content=\"' + t + '\">'\n).join('\\n');\n\n// Build sections HTML\nconst sectionsHtml = article.sections.map(section => `\n        <section class=\"glass p-8 sm:p-10 rounded-3xl border border-white/5 mb-8\" aria-label=\"${section.title}\">\n            <h2 class=\"text-2xl sm:text-3xl font-black text-white mb-6 tracking-tight\">${section.title}</h2>\n            <div class=\"text-slate-300 leading-relaxed space-y-4\">\n                ${section.content}\n            </div>\n        </section>`).join('\\n');\n\n// Build FAQ HTML (Alpine.js accordion like audit-it article)\nconst faqHtml = article.faq.map((f, i) => `\n            <div class=\"glass rounded-2xl border border-white/5 overflow-hidden\">\n                <button @click=\"open = open === ${i + 1} ? null : ${i + 1}\" class=\"w-full flex items-center justify-between p-6 text-left\" :aria-expanded=\"open === ${i + 1}\">\n                    <span class=\"text-white font-bold text-sm pr-4\">${f.question}</span>\n                    <i class=\"fas fa-chevron-down text-${topic.color}-400 text-xs transition-transform\" :class=\"{ 'rotate-180': open === ${i + 1} }\" aria-hidden=\"true\"></i>\n                </button>\n                <div x-show=\"open === ${i + 1}\" x-collapse x-cloak class=\"px-6 pb-6\">\n                    <p class=\"text-slate-400 text-sm leading-relaxed\">${f.answer}</p>\n                </div>\n            </div>`).join('\\n');\n\n// Build FAQ JSON-LD\nconst faqJsonLd = JSON.stringify({\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"FAQPage\",\n  mainEntity: article.faq.map(f => ({\n    \"@type\": \"Question\",\n    name: f.question,\n    acceptedAnswer: { \"@type\": \"Answer\", text: f.answer }\n  }))\n});\n\n// Hero title with gradient highlight\nconst heroTitle = topic.titleHighlight\n  ? `${topic.titleMain} <span class=\"text-transparent bg-clip-text bg-gradient-to-r ${c.gradient}\">${topic.titleHighlight}</span>`\n  : topic.title;\n\n// Hero image (Unsplash) - displayed only if available\nconst heroImageHtml = image.url !== 'https://nathanibgui.com/assets/images/nathanibguiProfile.png'\n  ? `\n        <!-- HERO IMAGE -->\n        <div class=\"max-w-4xl mx-auto px-4 sm:px-8 mb-12\">\n            <div class=\"rounded-3xl overflow-hidden border border-white/5\">\n                <img src=\"${image.url}\" alt=\"${image.alt}\" class=\"w-full h-64 sm:h-80 md:h-96 object-cover\" loading=\"lazy\">\n            </div>\n            ${image.credit ? '<p class=\"text-[10px] text-slate-600 mt-2 text-center\">' + image.credit + '</p>' : ''}\n        </div>`\n  : '';\n\n// Build full HTML\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\" class=\"scroll-smooth\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>${topic.title} | Nathan Ibgui</title>\n    <meta name=\"description\" content=\"${article.metaDescription}\">\n    <meta name=\"keywords\" content=\"${topic.keywords}\">\n    <meta name=\"author\" content=\"Nathan Ibgui\">\n    <meta name=\"robots\" content=\"index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1\">\n    <link rel=\"canonical\" href=\"${canonicalUrl}\">\n${articleTagsMeta}\n    <meta property=\"og:type\" content=\"article\">\n    <meta property=\"og:url\" content=\"${canonicalUrl}\">\n    <meta property=\"og:title\" content=\"${topic.title}\">\n    <meta property=\"og:description\" content=\"${article.ogDescription || article.metaDescription}\">\n    <meta property=\"og:image\" content=\"${image.url}\">\n    <meta property=\"og:locale\" content=\"fr_FR\">\n    <meta property=\"og:site_name\" content=\"Nathan Ibgui - CIO Executive\">\n    <meta property=\"article:published_time\" content=\"${date}\">\n    <meta property=\"article:author\" content=\"Nathan Ibgui\">\n    <meta name=\"twitter:card\" content=\"summary_large_image\">\n    <meta name=\"twitter:title\" content=\"${topic.title}\">\n    <meta name=\"twitter:description\" content=\"${article.ogDescription || article.metaDescription}\">\n    <meta name=\"twitter:image\" content=\"${image.url}\">\n    <link rel=\"icon\" type=\"image/svg+xml\" href=\"/assets/favicon.svg?v=2\">\n    <link rel=\"icon\" type=\"image/x-icon\" href=\"/assets/favicon.ico?v=2\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/assets/favicon-32x32.png?v=2\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/assets/favicon-16x16.png?v=2\">\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/assets/apple-touch-icon.png?v=2\">\n    <link rel=\"manifest\" href=\"/assets/site.webmanifest\">\n    <meta name=\"theme-color\" content=\"#030712\">\n    <link rel=\"alternate\" hreflang=\"fr\" href=\"${canonicalUrl}\">\n    <link rel=\"alternate\" hreflang=\"x-default\" href=\"${canonicalUrl}\">\n\n    <!-- JSON-LD: BlogPosting -->\n    <script type=\"application/ld+json\">\n    {\n        \"@context\": \"https://schema.org\",\n        \"@type\": \"BlogPosting\",\n        \"headline\": \"${topic.title}\",\n        \"description\": \"${article.metaDescription}\",\n        \"url\": \"${canonicalUrl}\",\n        \"image\": \"${image.url}\",\n        \"datePublished\": \"${date}\",\n        \"dateModified\": \"${date}\",\n        \"author\": { \"@type\": \"Person\", \"name\": \"Nathan Ibgui\", \"jobTitle\": \"CIO Executive\", \"url\": \"https://nathanibgui.com\" },\n        \"publisher\": { \"@type\": \"Person\", \"name\": \"Nathan Ibgui\" },\n        \"mainEntityOfPage\": { \"@type\": \"WebPage\", \"@id\": \"${canonicalUrl}\" },\n        \"wordCount\": \"${article.wordCount || 2000}\",\n        \"timeRequired\": \"PT${topic.readingTime}M\"\n    }\n    </script>\n\n    <!-- JSON-LD: BreadcrumbList -->\n    <script type=\"application/ld+json\">\n    {\n        \"@context\": \"https://schema.org\",\n        \"@type\": \"BreadcrumbList\",\n        \"itemListElement\": [\n            { \"@type\": \"ListItem\", \"position\": 1, \"name\": \"Accueil\", \"item\": \"https://nathanibgui.com/\" },\n            { \"@type\": \"ListItem\", \"position\": 2, \"name\": \"Blog\", \"item\": \"https://nathanibgui.com/blog/\" },\n            { \"@type\": \"ListItem\", \"position\": 3, \"name\": \"${topic.title}\", \"item\": \"${canonicalUrl}\" }\n        ]\n    }\n    </script>\n\n    <!-- JSON-LD: FAQPage -->\n    <script type=\"application/ld+json\">\n    ${faqJsonLd}\n    </script>\n\n    <link rel=\"preconnect\" href=\"https://cdnjs.cloudflare.com\" crossorigin>\n    <style>\n    @font-face{font-family:'Plus Jakarta Sans';font-style:normal;font-weight:200 800;font-display:swap;src:url(/assets/fonts/plus-jakarta-sans-latin-ext.woff2) format('woff2');unicode-range:U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF}\n    @font-face{font-family:'Plus Jakarta Sans';font-style:normal;font-weight:200 800;font-display:swap;src:url(/assets/fonts/plus-jakarta-sans-latin.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}\n    @font-face{font-family:'Inter';font-style:normal;font-weight:900;font-display:swap;src:url(/assets/fonts/inter-900-latin-ext.woff2) format('woff2');unicode-range:U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF}\n    @font-face{font-family:'Inter';font-style:normal;font-weight:900;font-display:swap;src:url(/assets/fonts/inter-900-latin.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}\n    </style>\n\n    <!-- Theme Anti-FOUC -->\n    <script>(function(){var t=localStorage.getItem('theme')||'dark';document.documentElement.setAttribute('data-theme-mode',t);if(t==='light')document.documentElement.setAttribute('data-theme','light');})();</script>\n    <link rel=\"stylesheet\" href=\"../css/tailwind.css?v=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\" media=\"print\" onload=\"this.media='all'\">\n    <noscript><link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\"></noscript>\n    <link rel=\"stylesheet\" href=\"../css/theme.css?v=5\" media=\"print\" onload=\"this.media='all'\">\n    <noscript><link rel=\"stylesheet\" href=\"../css/theme.css?v=5\"></noscript>\n    <script src=\"../js/components.js?v=8\" defer></script>\n\n    <!-- Libraries -->\n    <script defer src=\"https://unpkg.com/alpinejs@3.15.8/dist/cdn.min.js\"></script>\n    <script defer src=\"https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js\"></script>\n    <script defer src=\"https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js\"></script>\n\n    <!-- Calendly -->\n    <link href=\"https://assets.calendly.com/assets/external/widget.css\" rel=\"stylesheet\" media=\"print\" onload=\"this.media='all'\">\n    <script src=\"https://assets.calendly.com/assets/external/widget.js\" type=\"text/javascript\" async></script>\n\n    <style>\n        [x-cloak] { display: none !important; }\n        body { background-color: #030712; color: #f8fafc; overflow-x: hidden; -webkit-user-select:none;user-select:none; }\n        input,textarea,select{-webkit-user-select:text;user-select:text}\n        [data-theme=\"light\"] body{background-color:#f8fafc!important;color:#1e293b!important}\n        [data-theme=\"light\"] .glass{background:rgba(255,255,255,.85)!important;border:1px solid rgba(0,0,0,.08)!important;box-shadow:0 4px 30px rgba(0,0,0,.06)!important}\n        [data-theme=\"light\"] .text-white{color:#0f172a!important}\n        [data-theme=\"light\"] .premium-logo{color:#0f172a!important}\n        [data-theme=\"light\"] .premium-logo span{color:#3b82f6!important}\n        .glass{background:rgba(10,16,32,0.65);backdrop-filter:blur(20px);border:1px solid rgba(255,255,255,0.08);box-shadow:0 4px 30px rgba(0,0,0,0.15)}\n        .premium-logo{font-family:'Inter',sans-serif;font-weight:900;letter-spacing:-0.05em;font-size:1.6rem}\n        .premium-logo span{font-weight:200;color:#3b82f6}\n        .bg-gradient-radial{background:radial-gradient(circle at 50% 0%,${c.radial} 0%,transparent 60%)}\n        button:focus-visible,a:focus-visible{outline:2px solid #3b82f6;outline-offset:2px}\n        @media(prefers-reduced-motion:reduce){.reveal-hero,.reveal-scroll{opacity:1!important;transform:none!important}}\n    </style>\n</head>\n<body x-data=\"{ mobileMenu: false }\">\n\n    <div id=\"site-header\"></div>\n\n    <main id=\"main-content\">\n\n        <!-- BREADCRUMB -->\n        <nav class=\"pt-24 pb-4 px-4 sm:px-8 max-w-7xl mx-auto\" aria-label=\"Fil d'Ariane\">\n            <ol class=\"flex items-center gap-2 text-[11px] text-slate-500 font-medium\">\n                <li><a href=\"/\" class=\"hover:text-white transition-colors\">Accueil</a></li>\n                <li aria-hidden=\"true\"><i class=\"fas fa-chevron-right text-[8px] mx-1\"></i></li>\n                <li><a href=\"index.html\" class=\"hover:text-white transition-colors\">Blog</a></li>\n                <li aria-hidden=\"true\"><i class=\"fas fa-chevron-right text-[8px] mx-1\"></i></li>\n                <li class=\"text-${topic.color}-400\" aria-current=\"page\">${topic.title}</li>\n            </ol>\n        </nav>\n\n        <!-- HERO -->\n        <section class=\"py-16 sm:py-24 px-4 sm:px-8 bg-gradient-radial\" aria-label=\"${topic.title}\">\n            <div class=\"max-w-4xl mx-auto text-center\">\n                <div class=\"flex flex-wrap items-center justify-center gap-3 mb-6\">\n                    <span class=\"px-3 py-1 bg-${topic.color}-500/10 rounded-full text-[9px] font-black text-${topic.color}-400 uppercase tracking-widest\">${topic.tag}</span>\n                    <time class=\"text-[10px] text-slate-500 font-medium\" datetime=\"${date}\">${dateFr}</time>\n                    <span class=\"text-[10px] text-slate-500\">${topic.readingTime} min de lecture</span>\n                </div>\n                <h1 class=\"text-3xl sm:text-4xl md:text-5xl font-black tracking-tighter text-white leading-tight\">\n                    ${heroTitle}\n                </h1>\n                <div class=\"flex items-center justify-center gap-3 mt-8\">\n                    <div class=\"w-10 h-10 bg-${topic.color}-500/20 rounded-full flex items-center justify-center text-${topic.color}-400 text-sm\">\n                        <i class=\"fas fa-user\" aria-hidden=\"true\"></i>\n                    </div>\n                    <div class=\"text-left\">\n                        <p class=\"text-sm font-bold text-white\">Nathan Ibgui</p>\n                        <p class=\"text-xs text-slate-500\">CIO Executive & Architecte de Profit</p>\n                    </div>\n                </div>\n            </div>\n        </section>\n${heroImageHtml}\n        <!-- ARTICLE -->\n        <article class=\"py-12 sm:py-16 px-4 sm:px-8\">\n            <div class=\"max-w-4xl mx-auto space-y-8\">\n\n                <!-- Introduction -->\n                <section class=\"glass p-8 sm:p-10 rounded-3xl border border-white/5 mb-8\" aria-label=\"Introduction\">\n                    <div class=\"text-lg text-slate-300 leading-relaxed space-y-4\">\n                        ${article.introduction}\n                    </div>\n                </section>\n\n                <!-- Sections -->\n${sectionsHtml}\n\n                <!-- CTA inline -->\n                <section class=\"glass p-8 sm:p-10 rounded-3xl border border-white/5 mb-8\" aria-label=\"Conclusion\">\n                    <h2 class=\"text-2xl sm:text-3xl font-black text-white mb-6 tracking-tight\">Passez a l'action</h2>\n                    <div class=\"text-slate-300 leading-relaxed space-y-4 mb-6\">\n                        ${article.conclusion}\n                    </div>\n                    <div class=\"text-center\">\n                        <button onclick=\"Calendly.initPopupWidget({url: 'https://calendly.com/ibguinathan/30min'});\" class=\"bg-gradient-to-r ${c.btn} text-white px-12 sm:px-16 py-5 rounded-full font-black text-xs uppercase tracking-[0.2em] hover:scale-105 transition-transform shadow-2xl ${c.shadow} border border-white/20\" aria-label=\"Reserver un diagnostic\">\n                            Reserver mon Diagnostic\n                        </button>\n                        <p class=\"text-slate-500 text-xs mt-3\">30 minutes. Gratuit. Sans engagement.</p>\n                    </div>\n                </section>\n\n                <!-- FAQ -->\n                <section class=\"glass p-8 sm:p-10 rounded-3xl border border-white/5 mb-8\" aria-label=\"Questions frequentes\">\n                    <h2 class=\"text-2xl sm:text-3xl font-black text-white mb-8 tracking-tight\">Questions frequentes</h2>\n                    <div class=\"space-y-4\" x-data=\"{ open: null }\">\n${faqHtml}\n                    </div>\n                </section>\n\n            </div>\n        </article>\n\n        <!-- CTA Full-width -->\n        <section class=\"py-20 sm:py-28 px-4 sm:px-8 bg-surface\" aria-label=\"Passer a l'action\">\n            <div class=\"max-w-3xl mx-auto text-center\">\n                <span class=\"text-${topic.color}-500 font-black uppercase tracking-[0.4em] text-[10px]\">Passez a l'Action</span>\n                <h2 class=\"text-3xl sm:text-4xl font-black tracking-tighter text-white mt-4\">\n                    Un Projet en <span class=\"text-transparent bg-clip-text bg-gradient-to-r ${c.gradient}\">Tete ?</span>\n                </h2>\n                <p class=\"text-slate-400 mt-4 max-w-xl mx-auto\">Reservez un diagnostic de 30 minutes. Nous analyserons ensemble vos enjeux et identifierons les quick wins.</p>\n                <div class=\"mt-8\">\n                    <button onclick=\"Calendly.initPopupWidget({url: 'https://calendly.com/ibguinathan/30min'});\" class=\"bg-gradient-to-r ${c.btn} text-white px-12 sm:px-16 py-5 rounded-full font-black text-xs uppercase tracking-[0.2em] hover:scale-105 transition-transform shadow-2xl ${c.shadow} border border-white/20\" aria-label=\"Reserver un diagnostic\">\n                        Reserver mon Diagnostic\n                    </button>\n                </div>\n            </div>\n        </section>\n\n    </main>\n\n    <div id=\"site-footer\"></div>\n\n    <script src=\"../js/theme.js?v=5\" defer></script>\n    <script>\n    document.addEventListener('DOMContentLoaded', function () {\n        if (typeof gsap !== 'undefined' && typeof ScrollTrigger !== 'undefined') {\n            gsap.registerPlugin(ScrollTrigger);\n            gsap.utils.toArray('.glass').forEach(function (el, i) {\n                gsap.from(el, { y: 40, opacity: 0, duration: 0.6, delay: i * 0.1, scrollTrigger: { trigger: el, start: 'top 90%' } });\n            });\n        }\n    });\n    </script>\n</body>\n</html>`;\n\n// Build articles.json entry\nconst articlesJsonEntry = {\n  slug: topic.slug,\n  title: topic.title,\n  description: article.metaDescription,\n  date: date,\n  readingTime: topic.readingTime,\n  tag: topic.tag,\n  color: topic.color,\n  icon: topic.icon,\n  image: ''\n};\n\nreturn [{\n  json: {\n    html, fileName, topic, date, dateFr, canonicalUrl, article, image, articlesJsonEntry\n  }\n}];"
      },
      "id": "build-html",
      "name": "Assembler HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst htmlBuffer = Buffer.from(input.html, 'utf-8');\nreturn [{\n  json: input,\n  binary: {\n    data: {\n      data: htmlBuffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: input.fileName,\n      fileExtension: 'html'\n    }\n  }\n}];"
      },
      "id": "prepare-binary",
      "name": "Convertir en Binaire",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        400
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/home/u234542620/websites/zOcu31T6k/public_html/blog/{{ $json.fileName }}",
        "binaryPropertyName": "data"
      },
      "id": "sftp-upload",
      "name": "SFTP Deploy Article",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        3000,
        400
      ],
      "credentials": {
        "sftp": {
          "id": "WZMzFNcPARYTOqQQ",
          "name": "Hostinger SFTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nlvkgx67aC3nzlrakxHq48MVgCrfiXcFst9v3tXFtdw",
          "mode": "list",
          "cachedResultName": "nathanibgui"
        },
        "sheetName": {
          "__rl": true,
          "value": "Blog",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('Assembler HTML').first().json.date }}",
            "title": "={{ $('Assembler HTML').first().json.topic.title }}",
            "slug": "={{ $('Assembler HTML').first().json.topic.slug }}",
            "url": "={{ $('Assembler HTML').first().json.canonicalUrl }}",
            "tag": "={{ $('Assembler HTML').first().json.topic.tag }}",
            "keywords": "={{ $('Assembler HTML').first().json.topic.keywords }}",
            "readingTime": "={{ $('Assembler HTML').first().json.topic.readingTime }}",
            "wordCount": "={{ $('Assembler HTML').first().json.article.wordCount }}",
            "imageUrl": "={{ $('Assembler HTML').first().json.image.url }}",
            "status": "published"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Logger dans Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3300,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kCu1HvxuTG68WUYI",
          "name": "ibguiNathan"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6001952353",
        "text": "=*Nouvel article blog publie - nathanibgui.com*\n\n*Titre :* {{ $('Assembler HTML').first().json.topic.title }}\n*Tag :* {{ $('Assembler HTML').first().json.topic.tag }}\n*URL :* {{ $('Assembler HTML').first().json.canonicalUrl }}\n*Mots :* {{ $('Assembler HTML').first().json.article.wordCount }} | *Lecture :* {{ $('Assembler HTML').first().json.topic.readingTime }} min\n*Image :* {{ $('Assembler HTML').first().json.image.url }}\n*Date :* {{ $('Assembler HTML').first().json.date }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notif",
      "name": "Notification Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3300,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "pNgteq2s7ZIUSgx8",
          "name": "SeoKlyNathan Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Blog Automation Pipeline v5\n\n### Flow\n1. **Trigger** : Cron hebdo (lundi 9h) ou manuel\n2. **Sheets Read** : Lit les articles publies (deduplication)\n3. **Theme** : Rotation hebdo sur les 11 solutions\n4. **Agent IA** : Choisit le sujet + redige l'article complet\n5. **Parse** : Extrait le JSON structure\n6. **Unsplash** : Image (query choisie par l'agent)\n7. **HTML Builder** : Assemble le template (identique aux articles manuels)\n8. **SFTP** : Deploie sur Hostinger\n9. **Sheets + Telegram + articles.json** : Log et notification\n\n### Deduplication\nL'agent recoit la liste des articles publies et doit\nproposer un angle unique a chaque fois.\n\n### Modele\nGPT-4o via langchain Agent. Pour passer a Anthropic :\nremplacer le Chat Model par lmChatAnthropic.",
        "height": 520,
        "width": 460
      },
      "id": "sticky-note",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -350,
        100
      ]
    },
    {
      "parameters": {
        "url": "https://nathanibgui.com/blog/articles.json",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-articles-json",
      "name": "Fetch articles.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        700
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Update articles.json - handle n8n array item splitting\nconst buildData = $('Assembler HTML').first().json;\nconst newEntry = buildData.articlesJsonEntry;\n\nlet articles = [];\ntry {\n  const items = $input.all();\n  const first = items[0]?.json;\n\n  if (Array.isArray(first)) {\n    // Response returned as single array\n    articles = first;\n  } else if (first && first.slug) {\n    // n8n split the array into individual items\n    articles = items.map(i => i.json);\n  } else if (first && typeof first === 'object') {\n    // Try to find array in response body\n    const keys = Object.keys(first);\n    for (const k of keys) {\n      if (Array.isArray(first[k])) { articles = first[k]; break; }\n    }\n  }\n} catch(e) {\n  articles = [];\n}\n\n// Remove existing entry with same slug\narticles = articles.filter(a => a.slug !== newEntry.slug);\n\n// Prepend new article (newest first)\narticles.unshift(newEntry);\n\n// Convert to binary for SFTP upload\nconst jsonStr = JSON.stringify(articles, null, 2);\nconst buffer = Buffer.from(jsonStr, 'utf-8');\n\nreturn [{\n  json: { articlesCount: articles.length },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'articles.json',\n      fileExtension: 'json'\n    }\n  }\n}];"
      },
      "id": "update-articles-json",
      "name": "Mettre a jour articles.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        700
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "/home/u234542620/websites/zOcu31T6k/public_html/blog/articles.json",
        "binaryPropertyName": "data"
      },
      "id": "sftp-articles-json",
      "name": "SFTP Deploy articles.json",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        3900,
        700
      ],
      "credentials": {
        "sftp": {
          "id": "WZMzFNcPARYTOqQQ",
          "name": "Hostinger SFTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1nlvkgx67aC3nzlrakxHq48MVgCrfiXcFst9v3tXFtdw",
          "mode": "list",
          "cachedResultName": "nathanibgui"
        },
        "sheetName": {
          "__rl": true,
          "value": "Blog",
          "mode": "name"
        },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Lire Articles Publies",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        150,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kCu1HvxuTG68WUYI",
          "name": "ibguiNathan"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse la sortie de l'Agent IA et merge avec les donnees du topic\nconst input = $input.first().json;\nconst topicData = $('Selectionner Sujet').first().json;\n\n// Extraire le JSON de la reponse de l'agent\nlet responseText = '';\nif (typeof input.output === 'string') {\n  responseText = input.output;\n} else if (input.message && input.message.content) {\n  responseText = input.message.content;\n} else if (typeof input.text === 'string') {\n  responseText = input.text;\n} else {\n  responseText = JSON.stringify(input);\n}\n\n// Nettoyer les backticks markdown si presentes\nresponseText = responseText.replace(/^```json\\s*/, '').replace(/\\s*```$/, '').trim();\n\nlet article;\ntry {\n  article = JSON.parse(responseText);\n} catch(e) {\n  // Tenter d'extraire le JSON d'un texte mixte\n  const match = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    article = JSON.parse(match[0]);\n  } else {\n    throw new Error('Impossible de parser la reponse de l agent: ' + responseText.substring(0, 200));\n  }\n}\n\n// Valider les champs obligatoires\nconst required = ['title', 'slug', 'metaDescription', 'sections', 'introduction', 'faq'];\nfor (const field of required) {\n  if (!article[field]) {\n    throw new Error('Champ manquant dans la reponse: ' + field);\n  }\n}\n\n// Utiliser la couleur du theme si l'agent n'en a pas fourni\nconst color = article.color || topicData.theme.color;\nconst icon = article.icon || topicData.theme.icon;\n\nconst date = topicData.date;\nconst dateFr = topicData.dateFr;\nconst slug = article.slug;\nconst canonicalUrl = 'https://nathanibgui.com/blog/' + slug;\nconst fileName = slug + '.html';\n\nreturn [{\n  json: {\n    article,\n    topic: {\n      title: article.title,\n      titleMain: article.titleMain || article.title,\n      titleHighlight: article.titleHighlight || '',\n      slug,\n      keywords: article.keywords || '',\n      color,\n      icon,\n      tag: article.tag || topicData.theme.label,\n      readingTime: article.readingTime || 10,\n      unsplashQuery: article.unsplashQuery || 'technology'\n    },\n    allSolutions: topicData.allSolutions,\n    date, dateFr, canonicalUrl, fileName\n  }\n}];"
      },
      "id": "parse-agent",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        400
      ]
    }
  ],
  "connections": {
    "Hebdo Lundi 9h": {
      "main": [
        [
          {
            "node": "Lire Articles Publies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Declenchement Manuel": {
      "main": [
        [
          {
            "node": "Lire Articles Publies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire Articles Publies": {
      "main": [
        [
          {
            "node": "Selectionner Sujet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selectionner Sujet": {
      "main": [
        [
          {
            "node": "Agent IA - Redacteur Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent IA - Redacteur Blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent IA - Redacteur Blog": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Unsplash Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsplash Image": {
      "main": [
        [
          {
            "node": "Traiter Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traiter Image": {
      "main": [
        [
          {
            "node": "Assembler HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assembler HTML": {
      "main": [
        [
          {
            "node": "Convertir en Binaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir en Binaire": {
      "main": [
        [
          {
            "node": "SFTP Deploy Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SFTP Deploy Article": {
      "main": [
        [
          {
            "node": "Logger dans Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch articles.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch articles.json": {
      "main": [
        [
          {
            "node": "Mettre a jour articles.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre a jour articles.json": {
      "main": [
        [
          {
            "node": "SFTP Deploy articles.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "blog"
    },
    {
      "name": "automation"
    },
    {
      "name": "seo"
    }
  ],
  "active": false,
  "pinData": {}
}